<div class="container my-5">

  <h1>Editing Friend</h1>

  <%= render 'form', friend: @friend %>

  <button type = button class="btn btn-success"><%= link_to 'Show', @friend %></button>
  <button type = button class="btn btn-success"><%= link_to 'Back', friends_path %></button>
</div>